*, 
*:after, 
*:before {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
}

p {
  margin: 0 0 1rem;
}

p:last-child {
  margin-bottom: 0;
}

main,
section {
  margin-bottom: 3rem;
}

nav ul {
  padding: 0;
  overflow: auto;
}

.nav-item {
  display: inline-block;
}

.bio {
  border: 2px solid #eee;
  border-radius: 4px;
  text-align: center;
}

.bio h2 {
  text-align: center;
  margin: 0;
  background-color: #eee;
  padding: 20px;
}

.bio-content {
  text-align: left;
  padding: 1rem;
}

.spidey-pic {
  margin-top: 50px;
  width: 150px;
  height: auto;
}

.container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

section h2 {
  margin: 0 0 0.75rem;
}


/* Style Nav Bar Here */










